@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "ivymode-regular";
    font-weight: "400";
    src: url("../public/ivymode-regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "ivymode-light";
    font-weight: "300";
    src: url("../public/ivymode-light.woff2") format("woff2");
  }
}
@layer utilities {
  .clip-path-slant-down-right:hover {
    clip-path: polygon(7% 7%, 93% 7%, 93% 93%, 7% 93%);
    
  },
  .clip-path-container {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path-slant-down-right 2s;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "ivymode-light";
}
h1 {
  font-family: "ivymode-light";
}
* {
  box-sizing: border-box;
}
.jwpnavbar--scrolled {
  height: 5rem;
  background: rgb(255, 255, 255);
}
