@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Didot";
    font-weight: "500";
    src: url("../public/Didot.woff") format("woff");
  }
  @font-face {
    font-family: "SaolDisplay-SemiboldItalic";
    font-weight: "600";
    src: url("../public/SaolDisplay-SemiboldItalic.woff") format("woff");
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Didot";
  font-size: 13px;
  background-color: #ece8e1;
  color: #4c473b;
}
h1 {
  font-family: "SaolDisplay-SemiboldItalic";
  font-size: 6rem;
}
h2 {
  font-family: "Didot";
  font-size: 2rem;;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
