@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "ivymode-regular";
    font-weight: "400";
    src: url("../public/ivymode-regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "ivymode-light";
    font-weight: "300";
    src: url("../public/ivymode-light.woff2") format("woff2");
  }
}

html 
body {
  padding: 0;
  margin: 0;
  font-family: "ivymode-light";
  
}
h1 {
  font-family: "ivymode-light";
  
}
* {
  box-sizing: border-box;
}
